# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Build files
.next/
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/